// Color
$mdc-theme-primary: #0026ca;
$mdc-theme-on-primary: white;
$mdc-theme-surface: white;
$mdc-theme-on-surface: black;
$mdc-theme-button-disable: #DFDFDF;
//@use "@material/textfield/helper-text";
// Typography
@import url('https://fonts.googleapis.com/css?family=Raleway');
$mdc-typography-font-family-roboto: unquote("Roboto, sans-serif");

// Shape
$mdc-shape-small-component-radius: 20px;

// override gutter 
$mdc-layout-grid-default-gutter: (
  desktop: 26px,
  tablet: 16px,
  phone: 16px
);

// override # of columns
$mdc-layout-grid-columns: (
  desktop: 12,
  tablet: 12,
  phone: 3,
);

// Import Material Components
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/chips/mdc-chips";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

// Materialize
@import  "materialize-css/dist/css/materialize.min";


// Login button , Button disabled
.vl-krames-6450b46c-18df-4c2d-98cb-9f70502a7d2b, .vl-krames-bfc5e153-29cf-403d-bc3e-72625874a3e4{
  width: 208px;
  height: 36px;
}

// Button disabled
.vl-krames-bfc5e153-29cf-403d-bc3e-72625874a3e4{
  background-color: $mdc-theme-button-disable !important;
}

// Button component center
.vl-krames-bc87b545-5e8f-40e4-9621-10ed247c5f03{
  position: relative;
  height: 100%;
}

.mdc-layout-grid{
  margin: 0px !important;
  width: 100% !important;
}
//Drawer
body {
  display: flex;
  height: 100vh;
}

.mdc-drawer{
  width: 200px;
}

//Headers font family
.vl-krames-a16a90c8-9051-46e4-833c-362e60ffabd6{
  color: $mdc-theme-primary;
  font-weight: bolder;
  font-size: 30px;
}


//Switch
.switch label input[type=checkbox]:checked+.lever{
  background-color:#7f92e4 !important;
}

.switch label .lever:after {
  background-color: #F1F1F1 !important;
}
.switch label input[type=checkbox]:checked+.lever:after{
  background-color: $mdc-theme-primary !important;
}

.mdc-list{
  background-color: white !important;
  box-shadow: white 1px 10px !important;
}

//Input
.input-field input:focus + label {
  color: $mdc-theme-primary !important;
}

.input-field input:focus {
  border-bottom: 1px solid $mdc-theme-primary !important;
  box-shadow: 0 1px 0 0 $mdc-theme-primary !important;
}

// Eye toggle, New Password eye toggle and Verify password eye toggle
.vl-krames-ee7853d2-e697-46a4-b57d-0e2e0aef00dc, 
.vl-krames-9656a03f-26c7-4233-af1c-cb7d2d6547e5, 
.vl-krames-125bd89a-73a2-4282-931a-572e16b94914{
  position: absolute;
  right: 3px;
  top: 12px;
  cursor: pointer;
}

//delete default input password eye icon
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.input{
  width: 400px;
}

// Color Palette section
.vl-krames-003f5d25-cf55-476c-af05-5e75a3ab950b{
  width: 90%;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
}

// Palette title
.vl-krames-6b36a43f-7a83-4a21-a31f-566a330552e4{
  color: $mdc-theme-primary;
  font-size: 20px;
  font-weight: bold;
}


html{
  font-family: $mdc-typography-font-family-roboto;
  scroll-behavior: smooth;
}

// Modal header
.vl-krames-3df27cff-8033-4007-a9e7-33994b139712{
  font-weight: bold;
  color: $mdc-theme-primary;
  font-size: 25px;
}

// Font-family section visual
.vl-krames-9fc71372-67ce-402f-9491-38e832f7baf2{
  border: 1px solid black; 
  padding: 10px;
  font-weight: bold;
}

// Breakpoint section grid
.vl-krames-38f5dc6c-eebd-4778-8a0c-e7974a8a5334{
  padding-top: 15px;
  font-weight: bold;   
}

// Customized Material tooltip
.material-tooltip{
  font-size: 10px;
  font-weight: bold;
}